//Colors
$dark-background-color: #212539;
$medium-background-color: #262A41;
$medium-background-color-2: #3C3F54; 

$light-text-color: #E8E8EC;

$green-highlight-color: #3AE3A2;
$green-background-color: #263245;

$blue-highlight-color: #3A71E3;
$blue-border-color: #5287F5;

//Sizes
$inner-container-size: 1400px;